{
  "global-groups": [
    "browser",
    "ecmascript"
  ],
  "globals": {
    "GM": {
        "writable": false
    },
    "GM_config": {
        "writable": false
    },
    "GM_setValue": {
      "writable": false
    },
    "GM_getValue": {
      "writable": false
    },
    "GM_deleteValue": {
      "writable": false
    },
    "GM_listValues": {
      "writable": false
    },
    "GM_addStyle": {
      "writable": false
    },
    "GM_xmlhttpRequest": {
      "writable": false
    },
    "GM_registerMenuCommand": {
      "writable": false
    },
    "GM_unregisterMenuCommand": {
      "writable": false
    },
    "GM_notification": {
      "writable": false
    },
    "GM_openInTab": {
      "writable": false
    },
    "GM_getTab": {
      "writable": false
    },
    "GM_saveTab": {
      "writable": false
    },
    "GM_getTabs": {
      "writable": false
    },
    "GM_log": {
      "writable": false
    },
    "GM_getResourceText": {
      "writable": false
    },
    "GM_getResourceURL": {
      "writable": false
    },
    "GM_info": {
      "writable": false
    },
    "GM_getValues": {
      "writable": false
    },
    "GM_setValues": {
      "writable": false
    },
    "unsafeWindow": {
      "writable": false
    },
    "d3": {
      "writable": false
    },
    "chroma": {
      "writable": false
    },
    "UserUtils": {
      "writable": false
    },
    "configurableLogger": {
      "writable": false
    },
    "fetchWithRetry": {
      "writable": false
    },
    "dependencyGraph": {
      "writable": false
    },
    "d3FlowerNodes": {
      "writable": false
    },
    "tippy": {
      "writable": false
    }
  }
}
